
<div class="container">
  <div class="wrapper">

    <div class="greeting">
      <h1>Welcome to <strong>Team Barbedu</strong></h1>

    </div>
    <video controls loop autoplay>
      <source src="team1.mp4" type="video/mp4">
    </video>
    <div class="message">
    <h2>About</h2>
    <p>Founded in 2011 based on a vision, a dream and the love for a sport
    , Calisthenics(Street Workout). We are a team with a common interest in
    physical and mental conditioning through bodyweight exercises.
    Be part of the vision and join the family.</p>
    </div>
  </div>

</div>

<footer>@Team Barbedu</footer>
