<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team Barbedu</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>

  <ul class="topnav">
    <img class="logo" src="/logo.jpg"
    <li><a href="/">Home</a></li>
    <li><a href="/exercises/new">Workouts</a></li>
    <% if logged_in? %>
      <li><a href="/galleries/new">Galleries</a></li>
      <li><a href="/logout">Logout</a></li>
    <% else %>
      <li><a href="/signups/new">Sign Up</a></li>
      <li><a href="/sessions/new">Log In</a></li>
    <% end %>
  </ul><br>



  <%= yield %>

</body>
