
<h1>
<p>Please enter email and password to login</p>

<form action="/session" method="post">
  <label for="">email</label>
  <input name="email" type="text">

  <label for="">password</label>
  <input name="password" type="password">

  <button>login</button>
</form>
</h1>
