<h3>Sign Up</h3>

      <form action="/signups" method="POST" >
          <label for="email">Email</label>
          <input name="email" type="text">


          <label for="pwd">Password:</label>
          <input type="password" name="password" class="form-control" id="pwd">

          <button type="submit" class="btn btn-primary">Sign Up</button>

      </form>
