<div class="vid_wrapper">
  <h1>Select a workout</h1>


<div class="workout1">
<h2>No equipment</h2>
<p>You’re traveling, you’re stuck at the office, the gym is closed, you don’t have time to commute…..
  All the typical excuses just don’t apply anymore. You could do a month long trip and you wouldn’t have to worry
  about losing strength or muscle. You are the gym and you can always get a workout in. This is just one 
  of the many benefits of bodyweight training and trust me when I tell you there are many more..</p>

<video width="520" height="440" controls>
  <source src="/no_equipment.mp4" type="video/mp4">
  </video>


</div>
</div>
