.cover {
  width: 100%
  height: 100%;
  text-align: center;
}

.cover::after {
  content: "";
  background: url(/cave.jpg);
  background-size: 100% auto;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  /*background-color: grey;*/
}



.topnav {
    background-color: #333;
    overflow: hidden;
    width: 90%;
    text-align: center;
    margin: auto;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.logo {
  display: inline-block;
  vertical-align: top;
  float: right;
  width: 5%;
  height: 5%;
}

.greeting {
  font-size: 30px;
  text-align: center;
  color: #000033;
  margin-top: 15%;
  background-color: #ebebe0;
  border:5px;
  border-color: grey;
}


.container {
  width: 90%;
  height: 100%;
  /*display: block;
  position: relative;*/
}

.container::after {
  content: "";
  background: url(/background.jpg);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.wrapper {
  width: 55%;
  height: 900px;
  margin: auto;
}

video {
  margin: 0 auto;
  display: block;
  width: 70%;
  height: 60%;
}

.message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: url(/barbedu_icon.jpg);
  opacity: 0.8;
  z-index: -1;
  color: white;
  margin-bottom: 20px;
}

.img-container {
  margin-left: 30px;
}

.img-wrapper  {
  float: left;
  width: 24%;
  height: 400px;
  margin-right: 1%;
}

.img-wrapper img {
  width: 100%;
}

.form {
  vertical-align: bottom;
  clear: left;
}

.wrapper {
  width: 100%
  margin: 0 auto;
}

.wrapper img{
  width: 90%;
  height: 100%;
  float: left;
  display: block;
  /*padding-right: 30px;*/
}

textarea {
  width: 600px;
  height: 200px;
  float: left;
  vertical-align: bottom;
  display: inline-block;
}

.vid_wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  /*display: block;
  position: relative;*/
}


.workout1 video {
  margin: 0 auto;
  display: block;
  width: 70%;
  height: 60%;
}
